## Demo cách insert với càm hàm core của dự án SEN

### 1. Insert hr_employee_template

In [5]:
from hr_employee_template import ProcessHrEmployeeTemplate
from config import HR_EMPLOYEE_TEMPLATE_INPUT, SQL_HR_EMPLOYEE_TEMPLATE_COMMAND
import pandas as pd

In [10]:
# ======================================================
#               READ DATA TO DATAFRAME

df_hr_employee_template = pd.read_csv(HR_EMPLOYEE_TEMPLATE_INPUT)
data = ProcessHrEmployeeTemplate(df_hr_employee_template)
# data.code[3]='SA00921'
# values = data.to_numpy()[3:4]
values = data.to_numpy()

# ======================================================
#               INSERT INTO DATABASE

# Insert data to PostgreSQL database
data.insert_postgre(sql_command=SQL_HR_EMPLOYEE_TEMPLATE_COMMAND, values=values)

Returned IDs: [(56631, 1, 'NVPRO', 'SA00921', 'Đậu Thị Huyền Trang', True, False, datetime.date(2023, 10, 2), datetime.date(1986, 3, 18), '967986789', 'trang.dau@leschaco.com', '42186000120')]
Output file save at ./output/hr_employee_template_20231228_104052.csv

### 2. Insert resource_resource

In [1]:
from resource_resource import ProcessResourceResource
from config import RESOURCE_RESOURCE_INPUT, SQL_RESOURCE_RESOURCE_COMMAND
import pandas as pd

In [2]:

# ======================================================
#               READ DATA TO DATAFRAME

df_resource_resource = pd.read_csv(RESOURCE_RESOURCE_INPUT)
data = ProcessResourceResource(df_resource_resource)
values = data.to_numpy()
# values = data.to_numpy()[7:10] # limit data input


# ======================================================
#               INSERT INTO DATABASE

# Insert data to PostgreSQL database
data.insert_postgre(sql_command=SQL_RESOURCE_RESOURCE_COMMAND, values=values)

Returned IDs: [(282079, True, 'D00928-Nguyễn Thị Quỳnh Như', 1, 'userproe', 100.0, 1, datetime.datetime(2023, 12, 1, 0, 0), 1), (282080, True, 'D00930-Nguyễn Thành Đạt', 1, 'userproe', 100.0, 1, datetime.datetime(2023, 12, 1, 0, 0), 1), (282081, True, 'D00940-Nguyễn Thị Minh Hạnh', 1, 'userproe', 100.0, 1, datetime.datetime(2023, 12, 1, 0, 0), 1)]
Output file save at ./output/resource_resource_20231228_102035.csv

### 3. Insert hr_employee

In [11]:
from hr_employee import ProcessHrEmployee
from config import HR_EMPLOYEE_INPUT, SQL_HR_EMPLOYEE_COMMAND
import pandas as pd

In [13]:
# ======================================================
#               READ DATA TO DATAFRAME

df_hr_employee = pd.read_csv(HR_EMPLOYEE_INPUT)
data = ProcessHrEmployee(df_hr_employee)

data.mobile = ['0' + value if value != '' else '' for value in data.mobile] #thêm số 0 vào trước số điện thoại
values = data.to_numpy()

# data.employee_template_id[1] = 47758
# data.project_policy_id[1] = 11
# data.resource_id[1] = 416
# values = data.to_numpy()[1:2]


# ======================================================
#               INSERT INTO DATABASE

# Insert data to PostgreSQL database
data.insert_postgre(sql_command=SQL_HR_EMPLOYEE_COMMAND, values=values)

Returned IDs: [(74015, 'P00923-01', 'Trương Thị Thảo Ngân', True, 21, 777, 1, 'office', 18038, 1851, 11, 47758, 416, datetime.date(2017, 1, 16), 'confirm', 3, 11, 125, 'LES030', datetime.date(1992, 10, 13), '0792744248', 'Truongngan92@gmail.com', '25160757', 'P00923')]
Output file save at ./output/hr_employee_20231228_104746.csv

### 4. Insert hr_contract

In [15]:
from hr_contract import ProcessHrContact
from config import HR_CONTRACT_INPUT, SQL_HR_CONTRACT_COMMAND
import pandas as pd

In [18]:

# ======================================================
#               READ DATA TO DATAFRAME

df_hr_contract = pd.read_csv(HR_CONTRACT_INPUT)
data = ProcessHrContact(df_hr_contract)
values = data.to_numpy()
# data.project_policy_id[1]=16
# values = data.to_numpy()[1:2]


# ======================================================
#               INSERT INTO DATABASE

# Insert data to PostgreSQL database
data.insert_postgre(sql_command=SQL_HR_CONTRACT_COMMAND, values=values)

Returned IDs: [(88279, 'P00921-01/010123', 9441, 125, 27, 777, datetime.date(2023, 1, 1), datetime.date(2025, 1, 31), 1, Decimal('0'), 'close', 1, 278, 'monthly', False, True, False, False, 'gross', Decimal('0'), Decimal('0'), False, 'normal', False, False, False, False, False, 65318, datetime.date(2023, 4, 1), 1851, 'P00921-01/010123', '1', False, False, False, True, 16, 1354, 'P00921', 2, False, False, False, False, 22, 63, 1, 9, 4, 1, 1, 6, 1, datetime.date(2024, 3, 31), 1, 8, 1, 3, 1, 6, 6, 1, 1, 1, 200, False, datetime.date(2023, 1, 1), 2, 3, False, 3, 6, False, True, 73, False, 'day', False, False, 'paper_sign', 2462, 765, 0.0, datetime.datetime(2023, 6, 7, 0, 0))]
Output file save at ./output/hr_contract_20231228_105253.csv

### 5. Insert hr_payslip_run

In [19]:
from hr_payslip_run import ProcessHrPayslipRun
from config import HR_PAYSLIP_RUN_INPUT, SQL_HR_PAYSLIP_RUN_COMMAND
import pandas as pd

In [20]:

# ======================================================
#               READ DATA TO DATAFRAME

df_hr_payslip_run = pd.read_csv(HR_PAYSLIP_RUN_INPUT)
data = ProcessHrPayslipRun(df_hr_payslip_run)
values = data.to_numpy()

# values = data.to_numpy()[8:10]

# ======================================================
#               INSERT INTO DATABASE

# Insert data to PostgreSQL database
data.insert_postgre(sql_command=SQL_HR_PAYSLIP_RUN_COMMAND, values=values)

Returned IDs: [(13212, '06.2022 - SCHENKER LOGISTICS NORTH', 'approved', datetime.date(2022, 6, 1), datetime.date(2022, 6, 30), 2286), (13213, '06.2022_BANG LUONG MAERSK DC1.1', 'approved', datetime.date(2022, 5, 21), datetime.date(2022, 6, 20), 2280)]
Output file save at ./output/hr_payslip_run_20231228_105624.csv

### 6. Insert hr_payslip

In [1]:
from hr_payslip import ProcessHrPayslip
from config import HR_PAYSLIP_INPUT, SQL_HR_PAYSLIP_COMMAND
import pandas as pd

In [2]:

# ======================================================
#               READ DATA TO DATAFRAME

df_hr_payslip = pd.read_csv(HR_PAYSLIP_INPUT)
data = ProcessHrPayslip(df_hr_payslip)
values = data.to_numpy()

# values = data.to_numpy()[6:10]

# ======================================================
#               INSERT INTO DATABASE

# Insert data to PostgreSQL database
data.insert_postgre(sql_command=SQL_HR_PAYSLIP_COMMAND, values=values)

Returned IDs: [(527468, 273, 'Salary Slip of Nguyễn Thị Sen for August-2022', 'SLIP/74346', 52401, '08/2022', datetime.date(2022, 8, 1), datetime.date(2022, 8, 31), None, None, '2023', 36907, None, 751, 97, 13, 82460, None, None, '', '', None, None, None, 857, 23, None, None, None, 'NGUYEN THI SEN', '1019383290', 'VCB CN NAM BINH DUONG', 'Ngân hàng Thương mại Cổ phần Ngoại thương Việt Nam - Chi nhánh Nam Bình Dương', '74203003', 'direct_deposit'), (527469, 273, 'Salary Slip of Nguyễn Thị Quý Châu for August-2022', 'SLIP/74347', 53993, '08/2022', datetime.date(2022, 8, 1), datetime.date(2022, 8, 31), None, None, '2023', 38677, None, 751, 97, 13, 82467, None, None, '', '', None, None, None, 857, 23, None, None, None, '', '', '', '', '', 'direct_deposit'), (527470, 52, 'Salary Slip of Nguyễn Hữu Lợi for July-2022', '', 22441, '07/2022', datetime.date(2022, 6, 21), datetime.date(2022, 7, 20), True, None, '2022', 1304, False, 739, 126, 13, 66594, None, None, '', '', None, None, 42, 830, 21, None, False, False, '', '', '', '', '', 'direct_deposit'), (527471, 273, 'Salary Slip of Nguyễn Thị Thanh for August-2022', 'SLIP/74348', 62954, '08/2022', datetime.date(2022, 8, 1), datetime.date(2022, 8, 31), None, None, '2023', 8154, None, 751, 97, 13, 82544, None, None, '', '', None, None, None, 857, 23, None, None, None, 'NGUYEN THI THANH', '121220733', 'VPBB', 'Ngân hàng Thương mại Cổ phần Việt Nam Thịnh Vượng', '970406', 'direct_deposit')]
Output file save at ./output/hr_payslip_20231228_105920.csv